extends ./layout/index

block contenido
    block contenido
    main.container.mt-5
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, eligendi, soluta laborum odio ex exercitationem aliquam voluptates harum non

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis iure rerum porro ipsam inventore dolorum, perspiciatis, facilis necessitatibus aspernatur ullam adipisci a aut ea consectetur recusandae, cumque ipsa?

                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et dolores repellat laboriosam ad minimaiusto facilis aut, quas reprehenderit, veritatis explicabo voluptates soluta ipsa.Mollitia atque aliquid aperiam architecto facilis?

    .listado-iconos     
            .container.mt-5.py-5.text-center 
                .row 
                    .col-md-4 
                        img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                        h2.mb-4 Seguridad 
                        p  dolor sit amet consectetur adipisicing elit. Omnis iure rerum dolor sit amet consectetur adipisicing elit. Omnis iure rerum 
                    .col-md-4 
                        img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                        h2.mb-4 Mejores Destinos 
                        p  dolor sit amet consectetur adipisicing elit. Omnis iure rerum dolor sit amet consectetur adipisicing elit. Omnis iure rerum 
                    .col-md-4 
                        img(src="img/icono_precios.svg", class="img-fluid mb-4")
                        h2.mb-4 Precios 
                        p  dolor sit amet consectetur adipisicing elit. Omnis iure rerum dolor sit amet consectetur adipisicing elit. Omnis iure rerum 